* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  color: rgb(128, 128, 128);
  font-weight: 400;
  margin-top: 30px;
  justify-content: space-between;
}
.header__description {
  margin: 0;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 5px;
}

.nav__element {
  margin: 0px 10px;
}

.nav__link {
  color: inherit;
}

.main__title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0 10px;
}

.main__nav {
  background: rgb(34, 33, 33);
  color: rgb(255, 255, 255);
  padding: 10px 0;
  border-radius: 10px;
  margin: 25px 0;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.nav-list__element {
  margin: 16px 25px;
}

.nav-list__link {
  color: inherit;
  padding: 20px 0;
}

.main__text-title {
  font-size: 3rem;
  margin: 0;
}

.main-image__container {
  margin: 40px 0;
}

.main__horizontalblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.bigcards {
  min-width: 297px;
  max-width: 597px;
  position: relative;
}

.bigcards__img {
  width: 100%;
}

.smallcards {
  min-width: 294px;
  position: relative;
}

.smallcards__img {
  width: 100%;
}

.content-image {
  position: absolute;
  margin: auto;
  height: 50%;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-image__title {
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 4rem;
  font-weight: 400;
}

.smallcards .content-image__title {
  font-size: 2rem;
}

.content-image__text {
  color: rgb(255, 255, 255);
  margin: 0;
}

.block {
  margin: 50px auto;
  max-width: 350px;
  min-width: 340px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}

.block_margin_none {
  margin: 0;
}

.block_size_big {
  max-width: 810px;
  min-width: 800px;
}

.block_size_medium {
  max-width: 734px;
}

.block-title__text {
  display: inline;
  border-bottom: 3px solid rgb(0, 0, 0);
  padding-bottom: 4px;
  text-transform: uppercase;
}
.block-title {
  border-bottom: 1px solid rgb(107, 100, 100);
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.block-title_widht_short {
  max-width: 350px;
}

.block-title_underline_none {
  border-bottom: none;
}

.content-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.content-block__right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.events-list {
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}

.events-list__item {
  width: 360px;
}

.events {
  width: 100%;
}

.events__image {
  background-color: rgb(211, 211, 211);
  background-size: cover;
  height: 200px;
  position: relative;
}

.events__category {
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2px 10px 5px;
  color: initial;
}

.events__category_color_blue {
  background-color: rgb(78, 78, 243);
}

.events__category_color_green {
  background-color: rgb(87, 168, 121);
}

.events__category_color_pink {
  background-color: rgb(212, 110, 207);
}

.events__category_color_orange {
  background-color: rgb(221, 197, 92);
}

.events__description {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.events__date {
  color: rgb(179, 178, 178);
  font-size: 0.7rem;
}

.events__link-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  height: 80px;
  width: 250px;
  border-radius: 8px;
  background-color: rgb(8, 168, 8);
  color: rgb(255, 255, 255);
}

.social-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  overflow: auto;
}

.social__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social__logo {
  max-width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.social__label {
  color: rgb(179, 178, 178);
}

.user-list__item {
  margin-bottom: 20px;
}

.user-card {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.user-card__avatar {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.user-card__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.user-card__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-card__name {
  font-size: 1.2rem;
}

.user-card__role {
  color: rgb(179, 178, 178);
}

.lectures-block {
  background-color: rgb(243, 239, 239);
  padding: 20px;
  margin-bottom: 40px;
}

.lectures-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 5px;
}

.lectures-list__item {
  min-width: 286px;
  height: 200px;
}

.lectures-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  width: fit-content;
}

.news-list__item {
  border-bottom: 1px solid rgb(107, 100, 100);
  padding-bottom: 10px;
}

.news-card {
  display: flex;
  align-items: flex-start;
}

.news-card__image {
  margin-right: 20px;
}
.news-card__text {
  padding: 5px;
}

.news-card__title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  color: initial;
}

.news-card__content {
  color: rgb(179, 178, 178);
  margin: 0;
  margin-bottom: 10px;
}

.news-card__date {
  color: rgb(179, 178, 178);
  font-size: 0.8rem;
}

.footer__desctription {
  background-color: rgb(0, 0, 0);
  color: rgb(128, 128, 128);
  text-align: center;
  font-weight: 400;
  padding: 60px 0;
}

.reg-form__help {
  margin: 20px 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(104, 103, 103);
  text-align: left;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.field {
  width: 100%;
  height: 50px;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 5px;
  padding-left: 10px;
}

.field_primary:hover {
  background-color: rgb(170, 238, 170);
}

.field_primary:focus {
  outline-color: rgb(8, 168, 8);
  outline-width: 40px;
}

.reg-btn-container {
  width: 43%;
  max-width: 130px;
 
}

.btn {
  text-align: center;
  border-radius: 6px;
  border: none;
  height: 55px;
  padding: 10px;
}

.btn_primary {
  background-color: rgb(8, 168, 8);
  color: rgb(255, 255, 255);
}

.btn_width_full {
  width: 100%;
}

@media (max-width: 1439px) {
  html {
    font-size: calc(0.25rem + 1.25vw);
  }

  .container {
    max-width: none;
    margin: 20px;
  }

  .bigcards {
    min-width: 0;
    max-width: none;
    width: calc(50% - 2.5px);
  }

  .smallcards {
    min-width: 0;
    width: calc(25% - 2.5px);
  }

  .content-block {
    width: 100%;
  }

  .content-block__right-column {
    width: calc(35% - 5px);
  }

  .block {
    min-width: 0;
    max-width: none;
  }

  .block_size_big {
    min-width: 0;
    max-width: none;
    width: calc(65% - 10px);
  }

  .block_margin_none {
    margin-bottom: 20px;
  }

  .block-form {
    width: calc(35% - 5px);
  }

  .events-list__item {
    width: calc(50% - 10px);
  }

  .events__image {
    height: auto;
    aspect-ratio: 3 / 2;
  }

  .social__logo {
    max-width: none;
    width: 4vw;
  }

  .user-card__avatar {
    width: 8vw;
    height: 8vw;
  }

  .lectures-list {
    flex-wrap: nowrap;
  }

  .lectures-list__item {
    min-width: 0;
    height: auto;
    width: calc(25% - 5px);
    aspect-ratio: 3 / 2;
  }
}

@media (max-width: 767px) {
  html {
    font-size: calc(0.3rem + 1.5vw);
  }

  .container {
    margin: 20px 0;
  }

  .header {
    justify-content: space-around;
  }

  .nav-list {
    overflow: auto;
    flex-wrap: nowrap;
  }

  .nav-list__element {
    white-space: nowrap;
  }

  .main__text-title {
    margin-left: 20px;
  }

  .main__text {
    margin-left: 20px;
  }

  .main-image__container {
    padding: 20px;
    margin: 10px 0;
  }

  .main__horizontalblock {
    justify-content: space-between;
  }

  .bigcards {
    min-width: 0;
    max-width: none;
    width: 100%;
  }

  .smallcards {
    min-width: 0;
    width: calc(50% - 5px);
  }

  .content-block {
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
  }

  .content-block__right-column {
    width: 100%;
  }

  .block {
    width: 100%;
  }

  .events-list__item {
    width: 95%;
  }

  .events__link-more {
    margin: 10px;
  }

  .events__image {
    height: 200px;
    aspect-ratio: unset;
  }

  .user-card__avatar {
    width: 15vw;
    height: 15vw;
  }

  .lectures-list {
    overflow: auto;
  }

  .lectures-list__item {
    min-width: 286px;
    height: 200px;
    aspect-ratio: unset;
  }

  .block-form {
    width: 65%;
  }

  .social__logo {
    width: 45px;
  }
}
